nav {
  display: flex;
  justify-content: space-around;
  background-color: #D6E3F8;
}

.left-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: alias;
  border: 2px solid #D6E3F8;
  padding: 5px;
}
.left-nav img {
  width: 35px;
}
.left-nav span{
  font-size: medium;
  color: black;
}
.left-nav:hover{
  background-color: white;
  border-radius: 25%;
}

.right-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.right-nav button{
  width: 180px;
  height: 35px;
  background-color: #D6E3F8;
  border: none;
  border-radius: 25%;
  font-size: large;
}
.right-nav button:hover {
  background-color: white;
  cursor: alias;
}


a{
  text-decoration: none;
}

/* ADD CSS */
body{
  font-family: cursive;
}

.inputFields-name {
  grid-area: name;
  display: grid;
  margin: 5px;
}
.inputFields-image {
  grid-area: image;
  display: grid;
  margin: 5px;
}
.inputFields-scent {
  grid-area: scent;
  display: grid;
  margin: 5px;
}
.inputFields-price{
  grid-area: price;
  display: grid;
  margin: 5px;
}
.inputFields-rating {
  grid-area: rating;
  display: grid;
  margin: 5px;
}
.inputFields-featured {
  grid-area: featured;
  display: grid;
  margin: 5px;
}
.inputFields-description {
  grid-area: description;
  display: grid;
  margin: 5px;
}
.inputFields-btn {
  grid-area: btn;
  margin: 20px auto;
}

.form-container {
  display: grid;
  margin: 50px auto;
  width: 75%;
  grid-template-areas: 
  "name name name name"
  "image image image image"
  "scent scent featured featured"
  "price price rating rating"
  "description description description description"
  "btn btn btn btn";
}

.candles-container {
  display: grid; 
  grid-template-columns: repeat(3,1fr);
  width: 75%;
  margin: 20px auto;
}
.candle-container {
  padding: 15px;
  width: 95%;
  border: 5px solid white;
}
.candle-container:hover {
  border: 5px solid #D6E3F8;
  border-radius: 25px;
}
.candle-Img-Sizing {
  width: 225px;
  border-radius: 25px;
}

.home {
  padding: 25px;
  width: 75%;
  margin: 20px auto;
  text-align: center;
}

.candleDetails-container {
  width: 55%;
  padding: 10px;
  margin: 50px auto;
  display: grid;
  grid-template-areas: 
  "left top"
  "left top"
  "left bottom";
}

.candleDetails-container-left {
  grid-area: left;
}
.candleDetails-container-right-top {
  grid-area: top;
}
.candleDetails-container-right-bottom {
  grid-area: bottom;
}
.select-container{
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.select-tag {
  width: 200px;
  height: 50px;
  text-align: center;
  outline: none;
  font-size: large;
  border-radius: 25px;
  border: 2px solid lightgray;
}
.select-tag:hover {
  font-size: larger;
  border: 5px solid #D6E3F8;
  cursor: s-resize;;
}

.candles-card {
  text-align: center;
}
.spans{
  font-size: x-large;
}
form input {
  padding: 5px;
  border: 5px solid #D6E3F8;
  outline: none;
}
form label {
  font-size: larger;
  font-weight: bold;
}

.footer {
  background-color: #D6E3F8;
  bottom: 0;
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.footer-github img{
  width: 50px;
  padding: 5px;
}
.footer-linkedin img{
  width: 50px;
  float: right;
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}